<div class="container">
  <h1 class="mt-5">About TaskHub</h1>
  <p class="lead">TaskHub is a task management app that integrates with the
    Google Tasks API and GitHub milestones. It allows you to create, organize,
    and view your tasks seamlessly.</p>

  <h2 class="mt-4">Key Features</h2>
  <ul>
    <li>Create tasks and to-do lists using Google Tasks API.</li>
    <li>Organize tasks into GitHub milestones for better project management.</li>
    <li>View and update tasks from your GitHub repositories.</li>
    <li>User-friendly interface for efficient task management.</li>
  </ul>

  <h2 class="mt-4">How It Works</h2>
  <p>The app uses the Google Tasks API to manage your tasks. Additionally, it
    integrates with GitHub milestones to provide a comprehensive project
    management experience. You can link GitHub milestones to your tasks,
    allowing for better organization and tracking of your project progress.</p>

  <h2 class="mt-4">Get Started</h2>
  <p>Ready to start managing your tasks with TaskHub? Follow these simple steps:</p>
  <ol>
    <li>Sign in with your Google account.</li>
    <li>Authorize TaskHub to access your GitHub account and repositories.</li>
    <li>Create tasks and link them to GitHub milestones for effective project
      management.</li>
    <li>Enjoy a streamlined task management experience with TaskHub!</li>
  </ol>

  <h2 class="mt-4">Contact Us</h2>
  <p>If you have any questions or feedback, feel free to contact us:
    <a href="mailto:A47224@alunos.isel.pt">André Graça</a>
    <a href="mailto:A48459@alunos.isel.pt">Diogo Santos</a>
  </p>
</div>