<div class="container mt-4">
  <h1 class="border-bottom mb-4">My Google Tasks</h1>
  <div class="row">
    {{#each tasks}}
      <a
        href="/tasks/{{id}}"
        class="text-decoration-none text-dark d-inline-block"
        style="width: fit-content;"
      >
        <div class="col-md-4 mb-4" style="width: fit-content;">
          <div class="card border-4 border-black shadow">
            <div class="card-body">
              <h5
                class="card-title"
                style="font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;"
              >{{title}}</h5>
              <p class="card-text text-muted">Last Modified: {{updated}}</p>
            </div>
          </div>
        </div>
      </a>
    {{/each}}
  </div>
</div>